table, th, td {
    border: 1px solid black;

}

.row2 {
    background-color:pink;
}

.row3 {
    background-color:red;
}
.title {
    color:red;
}
.yellow {
    background-color:yellow;
}
.yellow {
    font-size: 24px
}
.a {
    color: green;
}